:root {
  --color-bg: #d1d1b8bb;
  --color-text: #39323a;
  --color-text-highlight: #94c772;
  --color-accent: rgb(138, 156, 95);
  --color-panel-bg: rgba(16, 233, 132, 0.068);
  --color-box-bg: #d8f3be;
  --color-shadow: rgba(248, 240, 171, 0.521);
}
