:root {
  --color-bg: #fbd4e4;
  --background-pic: url("../pictures/taust.webp");
  --color-text: #3a1a2c; /*deep plum: #3a1a2c, charcoal: #2e2e2e*/
  --color-text-highlight: #a266c2; /*some blue would be nice: #3c84e2*/
  --color-accent: #fbd4e4;
  --color-panel-bg: #ffffff2f;
  --color-box-bg: #fff5f9b3;
  --color-shadow: #f8f0ab85;
}
